.table {
  margin: 0 auto;
  font-size: 15px;
  width: 900px;
  padding: 2rem;
}

.table thead th {
  background-color: #DCE2F0;
  color: #50586C;
  text-align: center;
  font-weight: bold;
  height: 20px;
}

.table td {
  padding: 12px 15px;
  background-color: #f7f7f7;
  color: #755139;
  text-align: center;
}

.table tbody tr {
  border: 1px solid black;
}

.table tbody tr:last-of-type {
  border: 1px solid black;
}

.nav {
  margin: 0 auto;
  letter-spacing: 5rem;
  font-size: 15px;
  width: 900px;
  text-align: center;
  border-radius: 10px;
  /* border: 2px solid #b9ceac; */
  background-color: #FCEDDA;
}